@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #3d3c40;
}

.book .book-body, .book .book-body .body-inner {
  background: #fafafa;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}

.book .book-body .page-wrapper .page-inner section {
    padding: 15px 25px;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  color: #3F51B5;
  margin-bottom: 0.65em;
}

.book .book-body .page-wrapper .page-inner section.normal h1:after {
  content: '\00a0';
  background: rgba(63, 81, 181, 0.9);
  display: block;
  height: 6px;
  width: 10%;
  margin-top: -6px;
}

.book .book-body .page-wrapper .page-inner section.normal p {
  color: #3d3c40;
  font-size: 1.1em;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
